@import url('https://fonts.cdnfonts.com/css/austere');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */
header{
    width: 100vw;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 1.3% 2.3%;
}

.logo{
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
}
.logo img{
    height: 2.2rem;
    width: auto;
}

nav{
    width: 70%;
    height: 10%;
    padding: 7px 8px 0 0;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    justify-content:flex-end;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    font-family:sans-serif;
    font-weight: 600;
    color: black;
}
nav a:hover{
    text-decoration: underline yellow;
    color: rgb(0, 5, 8, 0.6);
    text-shadow: 0 0 10px rgba(255, 251, 1, 0.4);

}


/* Hero Section */
.hero-section{
    height: 510px;
    width: auto;
    padding-top: 20px;
    background-image: url('heroBG.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-div{
    padding: 1.1rem;
    display: flex;
    justify-content: space-between;
}

.hero-div-left{
    width: 60%;
}

.hero-div-left  img{
    width: 80%;
    margin: 2% 0 0 15%;
}

.hero-div-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4% 0;
}

.hero-div-right pre{
    font-family:'austere', sans-serif;
    font-size: 3.5rem;
}

.hero-div-right p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-top: 1rem;
}

.hero-div-right button{
    width: 27%;
    height: 14%;
    margin-top: 1.7rem;
    font-size: large;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    background-color: yellow;
    border: none;
    border-radius: 1.8rem;
}
.hero-div-right button:hover{
    background-color: rgba(204, 204, 0, 0.899);
}


/* Feature Seaction */
.feature-section{
    padding-top: 40px;
    height: 360px;
}

.feature-div{
    padding: 4% 12% 2% 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-div div{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
    
}

.feature-div i{
    font-size: 50px;
    width: 30%;
    margin-bottom: 5px;
}
.feature-div i:hover{
    font-size: 56px;
}

.feature-div h2{
    font-family: sans-serif;
    font-size: x-large;
}

.feature-div p{
    color: rgba(0, 0, 0, 0.619);
    text-align: center;
}


/* Client Section */
.client-section{
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 10px;
    background-color: aliceblue;
    
}

.client-section h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

.client-section-logo{
    height: 60px;
    display: flex;
    padding-bottom: 10px;
}

.client-section p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    margin-top: 18.5px;
}


/* Footer */
footer{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}