@import url("https://fonts.cdnfonts.com/css/mixolydian-titling");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  z-index: 0;
  background-image: linear-gradient(135deg, #e0f7fa 0%, #80deea 50%);
}

.left-panel div {
  display: flex;
  flex-direction: row;
  margin: 8rem 6rem 0 0;
}

.left-panel h1 {
  font-size: 4rem;
  font-family: "Mixolydian Titling", sans-serif;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.758);
}

#notsymbol {
  color: #0ed3ed;
}

.left-panel p {
  font-size: 1.3rem;
  padding: 1.5rem 7rem 0 0;
  color: rgba(0, 0, 0, 0.658);
}

img {
  position: absolute;
  height: auto;
  width: 47vw;
  top: 50%;
  left: 50%;
  margin-right: 20px;
  transform: translate(-60%, -50%) rotate(-23deg);
  z-index: 1;
  animation: transformImg 5s infinite ease-in-out;
}
@keyframes transformImg {
  0% {
    transform: translate(60%, -50%) rotate(0deg);
    opacity: 0;
    z-index: 0;
  }
  30% {
    transform: translate(-50%, -50%) rotate(-23deg);
    opacity: 1;
    z-index: 2;
  }
  70% {
    transform: translate(-50%, -50%) rotate(-23deg);
    opacity: 1;
    z-index: 2;
  }
  100% {
    transform: translate(60%, -50%) rotate(0deg);
    opacity: 0;
    z-index: 0;
  }
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: white;
  border-left: 4px #43d3e6 solid;
  gap: 10px;
}

.right-panel h2 {
  font-size: 3rem;
}

.right-panel h2 span {
  color: #80deea;
}

.right-panel form {
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-panel div {
  width: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.right-panel label {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.727);
  align-self: self-start;
  margin-left: 6.2rem;
}

.right-panel input {
  width: 65%;
  min-height: 5%;
  padding: 12px;
  border-radius: 6px;
  font-size: small;
}

.right-panel pre {
  color: red;
  font-size: smaller;
  margin-bottom: 1.4rem;
  padding: 5px;
  visibility: hidden;
}
.right-panel pre.wrongIdPass {
  visibility: visible;
  animation: blink 2s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.right-panel button {
  background-color: #00e1ff;
  color: white;
  font-size: 1.3rem;
  margin: 20px 0;
  padding: 7px 30px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.right-panel p:last-child {
  font-size: 1.2rem;
  align-self: center;
  color: black;
}

.right-panel p a {
  font-size: 1.2rem;
  color: #00e1ff;
}

/* For Mobile View */
@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
    height: 70%;
    padding: 20px 20px 10rem 20px;
    display: flex;
    justify-content: center;
  }

  .left-panel div {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1.5rem 3rem;
  }

  .left-panel p {
    font-size: 1.1rem;
    padding: 1.2rem;
  }

  img {
    display: flex;
    justify-self: center;
    left: 0;
    right: 0;
    top: 15rem;
    margin: 0;
    animation: upDown 3s ease-in-out infinite;
  }

  @keyframes upDown {
    0% {
      transform: translateY(30px);
      opacity: 0;
      z-index: 0;
    }
    30% {
      transform: translateY(-30px);
      opacity: 1;
      z-index: 2;
    }
    70% {
      transform: translateY(-30px);
      opacity: 1;
      z-index: 2;
    }
    100% {
      transform: translateY(30px);
      opacity: 0;
      z-index: 0;
    }
  }

  .right-panel{
    width: 100%;
    z-index: 3;
    padding: 10px;
    border-top: 4px #43d3e6 solid;
    border-left: 0;
    gap: 4px;
    margin-bottom: 5px;
  }

  .right-panel h2{
    margin-top: 1.5rem;
  }
  

  .right-panel form{
    width: 70%;
    height: 40vh;
    margin-top: 1.2rem;
  }

  .right-panel div{
    width: 26em;
  }

  .right-panel label{
    font-size: 1.1rem;
    margin-left: 4.7rem;
  }

  .right-panel button{
    margin-top: 0;
  }

}
