@import "tailwindcss";

body{
  background-color: black;
}

/* For Text above the Hero Image */
@keyframes borderGlow {
  0% {
    text-shadow: 0 0 4px #ff00cc, 0 0 8px #ff00cc;
    border-color: #ff00cc;
  }
  25% {
    text-shadow: 0 0 4px #00ffff, 0 0 8px #00ffff;
    border-color: #00ffff;
  }
  50% {
    text-shadow: 0 0 4px #00ff00, 0 0 8px #00ff00;
    border-color: #00ff00;
  }
  75% {
    text-shadow: 0 0 4px #6600ff, 0 0 8px #6600ff;
    border-color: #6600ff;
  }
  100% {
    text-shadow: 0 0 4px #ff00cc, 0 0 8px #ff00cc;
    border-color: #ff00cc;
  }
}

.animate-border-glow {
  border: 2px solid;
  padding: 0.4rem 0.8rem;
  animation: borderGlow 9s infinite;
  border-radius: 0.5rem;
}




/* For Headline below the Navbar */
.headline-text {
  display: inline-block;
  animation: slide 10s linear forwards;
}

@keyframes slide {
  0% {
    transform: translateX(100%); /* ⭐ Start fully from right */
  }
  100% {
    transform: translateX(0%); /* Fully gone */
  }
}
